



.root-div
{
    background-color: #171E2E ;
    width: 880px;
    height: 300px;
    border: 2px solid #171E2E;
    border-radius: 10px;
    margin-left: 330px ;
    margin-top: 5px;
    padding: 50px;
 

}









  


