.right-div
{
 
 
  margin-left: 20px;
  margin-top: 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
  width: 410px;
  height: 600px;
  background-color: #171E2E;
  border-radius: 10px;
 
}





.navbar-container-2{
    width:420px;
    height:125px;
    background-color:  #171E2E;
}

.nav-bar-2{
    width:420px;
    height:50px;
    background-color: #171E2E; 
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
   
  

}

 .a11{
  margin-left: -115px; 
}
 
 .b22{
  margin-left: 5px; 
} 

.search{
    width: 415px;
    height: 50px;
    background-color: #171E2E;
    border: 1px solid grey;
    border-radius: 10px;
    font-family:  'Fira Code', monospace;
    margin-top: 20px;
   
}

.stock-container{
  width:430px;
  height:450px;
  background-color:  #171E2E;
 margin-left: -15px;
 margin-top: 10px;

 padding: 5px;
 overflow-y: auto; 
}
.stock-container::-webkit-scrollbar 
{
  width: 5px;
  background-color: grey;
}







.sub-stock-container-1{
height: 190px;
width: 400;
background-color:  #171E2E;
display: flex;
}

.stock-1{
width:200px;
height:185px;
background-color: #171E2E;
margin-left: 15px;
border: 0.5px solid grey;
border-radius: 10px;
display: inline-block;
padding-left: 10px;
color: whitesmoke;

}
.stock-1-p1,.stock-1-p2,.stock-1-p3{
  color: grey;
  font-size: 12px;
}

.stock-1-p3{
  color: white;
}
.stock-1-p4{
  margin-left: 50px;
  margin-bottom: 40px;
  color: red;
}


.stock-1-icon{
  margin-left: 75px;
  margin-top: 10px;
}

.stock-1-icon-2{
 margin-bottom: -7px;
 margin-left: 7px;
}

.stock-2{
  width:200px;
  height:185px;
  background-color: #171E2E;
  margin-left: 15px;
  border-radius: 10px;
  display: inline-block;
  color: whitesmoke;
  padding-left: 10px;
  border: 0.5px solid grey;
 
}

/* .sub-stock-container-2{
  height: 190px;
  width: 400;
  background-color: yellow;
  display: flex;
  } */
  
  .stock-2-p1,.stock-2-p2,.stock-2-p3{
    color: grey;
    font-size: 12px;
  }
  
  .stock-2-p3{
    color: white;
  }
  .stock-2-p4{
    margin-left: 50px;
    margin-bottom: 40px;
    color: green;
  }
  
  
  .stock-2-icon{
    margin-left: 75px;
    margin-top: 10px;
  }
  
  .stock-2-icon-2{
   margin-bottom: -7px;
   margin-left: 7px;
  }
  

























 /*  .stock-3{
  width:200px;
  height:185px;
  background-color: red;
  margin-left: 15px;
  border-radius: 10px;
  display: inline-block;
  color: whitesmoke;
  padding-left: 10px;
  }
 */











  
/*   .stock-4{
    width:200px;
    height:185px;
    background-color: chartreuse;
    margin-left: 15px;
    border-radius: 10px;
    display: inline-block;
    color: whitesmoke;
  } */

   .sub-stock-container-3{
    height: 190px;
    width: 400;
    background-color:  #171E2E;
    display: flex;
    }
    
    .stock-5{
    width:200px;
    height:185px;
    background-color: #171E2E; 
    margin-left: 15px;
    border-radius: 10px;
    display: inline-block;
    padding-left: 10px;
    color: whitesmoke;
    border: 0.5px solid grey;
    
    }

    .stock-5-p1,.stock-5-p2,.stock-5-p3{
      color: grey;
      font-size: 12px;
    }
    
    .stock-5-p3{
      color: white;
    }
    .stock-5-p4{
      margin-left: 50px;
      margin-bottom: 40px;
      color: green;
    }
    
    
    .stock-5-icon{
      margin-left: 75px;
      margin-top: 10px;
    }
    
    .stock-5-icon-2{
     margin-bottom: -7px;
     margin-left: 7px;
    }
    
  













    
    .stock-6{
      width:200px;
      height:185px;
      background-color: #171E2E;
      margin-left: 15px;
      border-radius: 10px;
      display: inline-block;
      padding-left: 10px;
color: whitesmoke;
border: 0.5px solid grey;
    }
    
    .stock-6-p1,.stock-6-p2,.stock-6-p3{
      color: grey;
      font-size: 12px;
    }
    
    .stock-6-p3{
      color: white;
    }
    .stock-6-p4{
      margin-left: 50px;
      margin-bottom: 40px;
      color: red;
    }
    
    
    .stock-6-icon{
      margin-left: 75px;
      margin-top: 10px;
    }
    
    .stock-6-icon-2{
     margin-bottom: -7px;
     margin-left: 7px;
    }
    





















     .sub-stock-container-4
     {
      height: 190px;
      width: 400;
      background-color:  #171E2E;
      display: flex;
      }
      
      .stock-7{
      width:200px;
      height:185px;
      background-color: #171E2E;
      margin-left: 15px;
      border-radius: 10px;
      padding-left: 10px;
      color: whitesmoke;
      border: 0.5px solid grey;
      
      }
      
      .stock-7-p1,.stock-7-p2,.stock-7-p3{
        color: grey;
        font-size: 12px;
      }
      
      .stock-7-p3{
        color: white;
      }
      .stock-7-p4{
        margin-left: 50px;
        margin-bottom: 40px;
        color: red;
      }
      
      
      .stock-7-icon{
        margin-left: 75px;
        margin-top: 10px;
      }
      
      .stock-7-icon-2{
       margin-bottom: -7px;
       margin-left: 7px;
      }
      



















      
      .sub-stock-container-5{
        height: 190px;
        width: 400;
        background-color:  #171E2E;
        display: flex;
        }
        
        .stock-9{
        width:200px;
        height:185px;
        background-color: #171E2E;
        margin-left: 15px;
        border-radius: 10px;
        display: inline-block;
        padding-left: 10px;
        color: whitesmoke;
        border: 0.5px solid grey;
        }
        .stock-9-p1,.stock-9-p2,.stock-9-p3{
          color: grey;
          font-size: 12px;
        }
        
        .stock-9-p3{
          color: white;
        }
        .stock-9-p4{
          margin-left: 50px;
          margin-bottom: 40px;
          color: green;
        }
        
        
        .stock-9-icon{
          margin-left: 75px;
          margin-top: 10px;
        }
        
        .stock-9-icon-2{
         margin-bottom: -7px;
         margin-left: 7px;
        }
        
        .stock-10{
          width:200px;
          height:185px;
          background-color: #171E2E;
          margin-left: 15px;
          border-radius: 10px;
          display: inline-block;
          padding-left: 10px;
          color: whitesmoke;
          border: 0.5px solid grey;
        } 
        .stock-10-p1,.stock-10-p2,.stock-10-p3{
          color: grey;
          font-size: 12px;
        }
        
        .stock-10-p3{
          color: white;
        }
        .stock-10-p4{
          margin-left: 50px;
          margin-bottom: 40px;
          color: red;
        }
        
        
        .stock-10-icon{
          margin-left: 75px;
          margin-top: 10px;
        }
        
        .stock-10-icon-2{
         margin-bottom: -7px;
         margin-left: 7px;
        }
        